@import url('https://fonts.cdnfonts.com/css/saira');

:root {
    --primary-color: #16161D;
    --secondary-color: #FBFAF5;
    --danger-color: #FF1B1E;
    --editorial: #FFF25F;
    --confirmed: #1BFF3D;
    font-family: 'Saira', sans-serif;
}

article.note,
article.task {
    background-color: var(--primary-color);
    box-shadow: 0 4px 10px var(--danger-color);
    border-radius: 7px;
    color: var(--secondary-color);
    cursor: pointer;
    height: 250px;
    width: 200px;
    padding: 15px;
    display: grid;
    grid-template-rows: auto 1fr;
}

article.note {
    grid-template-areas:
        "title action"
        "text text"
    ;
}

article.task {
    grid-template-areas:
        "title action"
        "list list"
        "due due"
    ;
}

.note>#title,
.task>#title {
    grid-area: title;

    font-size: 20px;
    font-weight: bold;
    height: max-content;
}

.note>#action-button,
.task>#action-button {
    grid-area: action;

    height: max-content;
    justify-self: end;
}

.note>#action-button>button,
.task>#action-button>button {
    border: none;
    cursor: pointer;
    padding: 5px;
    background-color: transparent;
}

.note>#action-button>button>svg,
.task>#action-button>button>svg {
    height: 16px;
    width: 16px;
    transition: 0.2s;
}

.note>#action-button>#edit>svg,
.task>#action-button>#edit>svg {
    stroke: var(--editorial);
}

.note>#action-button>#edit>svg:hover,
.task>#action-button>#edit>svg:hover {
    filter: drop-shadow(0px 2px 4px var(--editorial));
}

.note>#action-button>#delete>svg,
.task>#action-button>#delete>svg {
    stroke: var(--danger-color);
}

.note>#action-button>#delete>svg:hover,
.task>#action-button>#delete>svg:hover {
    filter: drop-shadow(0px 2px 4px var(--danger-color));
}

.note>#text {
    grid-area: text;

    font-size: 14px;
}

.task>#list {
    grid-area: list;

    list-style: none;
    padding: 0;
}

.task>#list li:not(:last-of-type) {
    margin-bottom: 5px;
}

.task>#list input[type=checkbox] {
    display: none;
    position: relative;
}

.task>#list>li>input[type=checkbox]:checked+label::before {
    background-color: var(--confirmed);
}

.task>#list>li>label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.task>#list>li>label::before {
    content: '';
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    transition: 0.2s;
    display: inline-block;
}

.task>#due {
    grid-area: due;
}

.task>#due>span {
    color: var(--danger-color);
}